<div class="dinamic-content">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab">
      {{> gallery}}
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      {{> profile}}
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      {{> contact}}
    </div>
  </div>
</div>